{% extends 'account/auth-ext.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Reset Instructions Sent' %}{% endblock %}
{% block left_title %}{% trans 'Reset Instructions Sent' %}{% endblock left_title %}
{% block left_desc %}
    {% blocktrans %}<div>We have sent you an email containing reset instructions.</div>{% endblocktrans %}
{% endblock left_desc %}
{% block left_action %}

{% endblock left_action %}
{% block right_title %}
    {% trans 'Reset Instructions Sent' %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock right_title %}
{% block right_body %}
    <div>
        <p>If you have an email address with that email, you would receive an email containing reset instructions.</p>
        <p>Please contact us if you do not receive it in the next few minutes.</p>
    </div>
{% endblock %}