{% extends 'account/auth-ext.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Set New Password' %}{% endblock %}
{% block left_title %}    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Set New Password" %}{% endif %}{% endblock left_title %}
{% block left_desc %}
    {% blocktrans %}<div>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Set New Password" %}{% endif %}</div>{% endblocktrans %}
{% endblock left_desc %}
{% block left_action %}
    <a href="{{ passwd_reset_url }}" class="btn btn-primary btn-pill">{% trans 'Request Reset' %}</a>
{% endblock left_action %}
{% block right_title %}
    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Set New Password" %}{% endif %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock right_title %}
{% block form_action %}
    {{ action_url }}
{% endblock form_action %}
{% block right_body %}
    {% if token_fail %}
        <div>
            The password reset link was invalid, possibly because it has already been used.
            <br/>
            <a href="{{ passwd_reset_url }}" class="btn btn-primary btn-pill">{% trans 'Request Reset' %}</a>
        </div>
    {% else %}
        {% if form %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {% render_field field|add_class:'form-control' placeholder=field.label %}
                    {% for error in field.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" name="action" class="btn btn-primary btn-pill" value="{% block submit_text %}{% trans 'Set New Password' %}{% endblock submit_text %}">
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}