{% extends 'account/auth-ext.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Reset Complete' %}{% endblock %}
{% block left_title %}{% trans 'Reset Complete' %}{% endblock left_title %}
{% block left_desc %}
    {% blocktrans %}<div>Your password reset process is complete.</div>{% endblocktrans %}
{% endblock left_desc %}
{% block left_action %}

{% endblock left_action %}
{% block right_title %}
    {% trans 'Reset Complete' %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock right_title %}
{% block right_body %}
    <div>
        <p>Your password reset procedure is complete, you can now login into your account.</p>
        <br>
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-pill">Login</a>
    </div>
{% endblock %}