{% extends 'account/auth-ext.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Forgot Password' %}{% endblock %}
{% block left_title %}{% trans 'Forgot Password' %}{% endblock left_title %}
{% block left_desc %}
    {% blocktrans %}<div>Don't worry, It happens to all of us.</div>{% endblocktrans %}
{% endblock left_desc %}
{% block left_action %}

{% endblock left_action %}
{% block right_title %}
    {% trans 'Reset Password' %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock right_title %}
{% block form_action %}
    {% url 'account_reset_password' %}
{% endblock form_action %}
{% block right_body %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {% render_field field|add_class:'form-control' placeholder=field.label %}
            {% for error in field.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-pill" value="{% block submit_text %}{% trans 'Reset Password' %}{% endblock submit_text %}">
    </div>
{% endblock %}