@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$blue:    #1c4b82;
$indigo:  #0d0cb5;
$purple:  #7971ea;
$pink:    #e83e8c;
$red:     #f23a2e;
$orange:  #ef6c57;
$yellow:  #f89d13;
$green:   #8bc34a;
$teal:    #46ddb0;
$cyan:    #17a2b8;


/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";