{% extends 'resumes/index.html' %}
{% load i18n static general_tags %}
{% block title %}
    {% trans 'My Templates' %}
{% endblock title %}
{% block breadcrumbs %}
    <p data-aos="fade-up" data-aos-delay="100"><a href="/">{% trans 'Home' %}</a> &bullet; <a href="{% url 'resumes:list' %}">{% trans 'Templates' %}</a> &bullet; <a href="#" class="text-white">{% trans 'My Templates' %}</a> </p>
    <script>
        function copyTemplateLink(e, sel) {
            e.preventDefault();
            copyToCP(e, sel);
        }
    </script>
{% endblock breadcrumbs %}
{% block manager_content %}
    <div class="mt-4">
        <div class="row">
            {% for temp in templates %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <a href="{% url 'resumes:my-template-preview' pk=temp.id %}"><img class="card-img-top" src="{{ temp.get_screenshot_url }}" alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'resumes:my-template-preview' pk=temp.id %}" class="text-black-50">{{ temp.name }}</a></h5>
                            {#                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>#}
                            <input type="text" value="{{ temp.get_page_url }}" id="temp-link-{{ temp.id }}" style="position: absolute; left: -10000px;">
                            {% is_active_for_current_site temp.id as is_active %}
                            {% if is_active %}
                                <a href="{% url 'resumes:my-template-deactivate' pk=temp.id %}?next={{ request.get_full_path }}" class="text-warning">{% trans 'Dectivate as Home' %}</a> |
                            {% else %}
                                <a href="{% url 'resumes:my-template-activate' pk=temp.id %}?next={{ request.get_full_path }}" class="text-success">{% trans 'Activate as Home' %}</a> |
                            {% endif %}
                            <a onclick="copyTemplateLink(event, '#temp-link-{{ temp.id }}')" href="#">Copy URL</a> |
                            <div class="dropdown d-inline">
                                <a href="" class="dropdown-toggle" type="button" id="dropdownMenu{{ temp.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Other Actions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu{{ temp.id }}">
                                    <a class="dropdown-item" href="{% url 'resumes:my-template-update' pk=temp.id %}">Edit</a>
                                    <a class="dropdown-item" href="{% url 'resumes:my-template-clone' pk=temp.id %}">Clone</a>
                                    <a class="dropdown-item" href="{{ temp.get_page_url }}" target="_blank">Preview</a>
                                    <a class="dropdown-item text-danger" href="{% url 'resumes:my-template-delete' pk=temp.id %}?next={{ request.get_full_path }}">Delete Template</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'includes/pagination.html' with paginator_type='LV' %}

{% endblock manager_content %}