{% extends 'resumes/index.html' %}
{% load i18n general_tags %}
{% block title %}
    {% trans 'Update Template' %}
{% endblock title %}
{% block extra_css %}
    <style>
        #template-builder {
            height: 100vh;
        }
    </style>
{% endblock extra_css %}
{% block breadcrumbs %}
    <p data-aos="fade-up" data-aos-delay="100"><a href="/">{% trans 'Home' %}</a> &bullet; <a href="{% url 'resumes:my-templates' %}">{% trans 'My Templates' %}</a> &bullet; <a href="#" class="text-white">{{ template.name }}</a> </p>
{% endblock breadcrumbs %}
{% block manager_content %}
    {% trans 'Update Template' as form_title %}
    {% trans 'Update' as submit_text %}
    {% include 'includes/form.html' with form_id='template-builder-form' form_title=form_title submit_text=submit_text pre_submit_content='<div id="template-builder" class="mb-4 mt-4"></div>' with_label=True %}
{% endblock manager_content %}

{% block extra_js %}
    <script src="https://editor.unlayer.com/embed.js"></script>
    <script>
        window.onload = function () {
            unlayer.init({
                id: 'template-builder',
                projectId: 4130,
                user: '{{ request.user.id }}'
            })

            let pre_design = document.querySelector('#template-builder-form #id_gjs_components').value
            if (pre_design) {
                unlayer.loadDesign(JSON.parse(pre_design))
            }

            document.querySelector('#template-builder-form').addEventListener('submit', function (e) {
                e.preventDefault()
                unlayer.exportHtml(function(data) {
                    let json_data = data.design;
                    let html = data.html;
                    let chunks = data.chunks;
                    document.querySelector('#template-builder-form #id_full_content').value = html;
                    document.querySelector('#template-builder-form #id_content').value = chunks.body;
                    document.querySelector('#template-builder-form #id_styles').value = chunks.css;
                    document.querySelector('#template-builder-form #id_js').value = chunks.js;
                    document.querySelector('#template-builder-form #id_fonts').value = chunks.fonts;
                    document.querySelector('#template-builder-form #id_gjs_components').value = JSON.stringify(json_data);
                    document.querySelector('#template-builder-form').submit()
                })
            })
        }
    </script>
{% endblock extra_js %}