{% load static %}
<script src="https://cdn.tiny.cloud/1/8ry8jggo7z3vd31d8fe8guazzyd2l5xzp1d9rb7ijp6izn4g/tinymce/5/tinymce.min.js"></script>
<script>
    document.addEventListener("turbolinks:load", function() {
        loadTinyMCE()
    });

    document.addEventListener("DOMContentLoaded", function() {
        loadTinyMCE()
    });

    let {{ instance_name|default:'editor' }};

    function loadTinyMCE() {
        tinymce.init({
            selector: '{{ selector|default:'#container' }}',
            height: {{ height|default:300 }},
            menubar: false,
            auto_focus: false,
            plugins: 'advlist autolink lists link image charmap print preview anchor ' +
                'visualblocks code fullscreen insertdatetime media emoticons ' +
                'table paste help wordcount media table codesample',
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
            ],
            toolbar: '{{ toolbar|default:'undo redo | formatselect | bold italic backcolor | image code codesample media emoticons link | alignleft aligncenter | bullist numlist | table removeformat | fullscreen help' }}',
            content_css: [
                '//www.tiny.cloud/css/codepen.min.css',
                '{% static 'css/tiny-mce-content.css' %}'
            ],
            powerpaste_word_import: 'clean',
            powerpaste_html_import: 'clean',
            images_upload_url: '/tinymce/upload/',
            setup: function (ed)
            {
                {{ instance_name|default:'editor' }} = ed
            }
        });
    }
</script>