<footer class="footer-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>About</h3>
                <p>
                    Wresume was created initially to manage my own resume and portfolio, and also avoid duplicating the same efforts creating for friends.
                    Alas, I decided to make it open to every one who loves the product. It is free for now. Premium features would be added soon as it's still a work in progress,
                    albeit safe for any kind of usage. Your data is safe and secured.
                    <br>
                    <small>Also, there are future plans to open-source the application.</small>
                </p>
                <p>v1.0.0</p>
            </div>

            <div class="col-md-3 ml-auto">
                <h3>Links</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                </ul>
                <a href="https://www.producthunt.com/posts/wresume?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-wresume" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=168680&theme=light" alt="Wresume - Create a personal portfolio/resume site w/ no tech skills | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
            </div>

            <div class="col-md-4 ml-auto">
                <div>
                    <iframe style="border: none; width: 100%;" src="https://cards.producthunt.com/cards/posts/168680?v=1" height="405" frameborder="0" scrolling="no" allowfullscreen></iframe>
                </div>
            </div>

            {#            <div class="col-md-4">#}
            {#                <h3>Subscribe</h3>#}
            {#                <form action="#" class="footer-subscribe">#}
            {#                    <div class="d-flex mb-5">#}
            {#                        <input type="text" class="form-control rounded-0" placeholder="Email">#}
            {#                        <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">#}
            {#                    </div>#}
            {#                </form>#}
            {#            </div>#}

        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p style="font-size: 12px;">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>