<footer class="footer-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Wresume</h3>
                <p>Wresume is a free and easy to use tool for creating portfolios and online resumes.</p>
                <p>v1.0.0</p>
            </div>

            <div class="col-md-3 ml-auto">
                <h3>Links</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                </ul>
            </div>

            <div class="col-md-4">
{#                <h3>Subscribe</h3>#}
{#                <form action="#" class="footer-subscribe">#}
{#                    <div class="d-flex mb-5">#}
{#                        <input type="text" class="form-control rounded-0" placeholder="Email">#}
{#                        <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">#}
{#                    </div>#}
{#                </form>#}
            </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p style="font-size: 12px;">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>