<div class="site-section bg-image overlay" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 text-center testimony">
                <img src="images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                <h3 class="mb-4">Jerome Jensen</h3>
                <blockquote>
                    <p>&ldquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum rem soluta sit eius necessitatibus voluptate excepturi beatae ad eveniet sapiente impedit quae modi quo provident odit molestias! Rem reprehenderit assumenda &rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
