{% load static %}
<div class="site-section" id="teachers-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 mb-5 text-center"  data-aos="fade-up" data-aos-delay="">
                <h2 class="section-title">The Team</h2>
                <p class="mb-5">Putting together this app</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="teacher text-center">
                    <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                    <div class="py-2">
                        <h3 class="text-black">Benjamin Stone</h3>
                        <p class="position">Physics Teacher</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eius suscipit delectus enim iusto tempora, adipisci at provident.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>