{% load static %}
<div class="site-section" id="programs-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
                <h2 class="section-title">How it works</h2>
                <p>Wresu.me is a simple application, that allows you to simply fill a form and select a template and you have your own page ready.</p>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                {% static 'images/reg-screenshots/1.png' as image_url %}
                {% include 'includes/screenshot-embed.html' with image_url=image_url %}
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">Sign Up</h2>
                <p class="mb-4">First step for you is to sign up</p>

                <div class="d-flex align-items-center custom-icon-wrap mb-3">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-clock-o"></span></span>
                    <div><h3 class="m-0">1 minute</h3></div>
                </div>

            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                {% static 'images/reg-screenshots/2.png' as image_url %}
                {% include 'includes/screenshot-embed.html' with image_url=image_url %}
            </div>
            <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">Fill in data form</h2>
                <p class="mb-4">There are more than 5 sections, but you only fill in the fields you want, every field is optional.</p>

                <div class="d-flex align-items-center custom-icon-wrap mb-3">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-clock-o"></span></span>
                    <div><h3 class="m-0">Variable</h3></div>
                </div>

            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                {% static 'images/reg-screenshots/3.png' as image_url %}
                {% include 'includes/screenshot-embed.html' with image_url=image_url %}
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">Choose/Build Template</h2>
                <p class="mb-4">Select or choose your own template based on whichever or whatever you deem visually appealing</p>

                <div class="d-flex align-items-center custom-icon-wrap mb-3">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-clock-o"></span></span>
                    <div><h3 class="m-0">1 minutes</h3></div>
                </div>

            </div>
        </div>

    </div>
</div>