<div class="site-section" id="programs-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
                <h2 class="section-title">Our Programs</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellat aut neque! Doloribus sunt non aut reiciendis, vel recusandae obcaecati hic dicta repudiandae in quas quibusdam ullam, illum sed veniam!</p>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                <img src="images/undraw_youtube_tutorial.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">We Are Excellent In Education</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime nam porro possimus fugiat quo molestiae illo.</p>

                <div class="d-flex align-items-center custom-icon-wrap mb-3">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                </div>

                <div class="d-flex align-items-center custom-icon-wrap">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                </div>

            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="images/undraw_teaching.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">Strive for Excellent</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime nam porro possimus fugiat quo molestiae illo.</p>

                <div class="d-flex align-items-center custom-icon-wrap mb-3">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                </div>

                <div class="d-flex align-items-center custom-icon-wrap">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                </div>

            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                <img src="images/undraw_teacher.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">Education is life</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime nam porro possimus fugiat quo molestiae illo.</p>

                <div class="d-flex align-items-center custom-icon-wrap mb-3">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                </div>

                <div class="d-flex align-items-center custom-icon-wrap">
                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                </div>

            </div>
        </div>

    </div>
</div>