{% load static %}
<div class="site-section pb-0">

        <div class="future-blobs">
            <div class="blob_2">
                <img src="{% static 'images/blob_2.svg' %}" alt="Image">
            </div>
            <div class="blob_1">
                <img src="{% static 'images/blob_1.svg' %}" alt="Image">
            </div>
        </div>
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
                <div class="col-lg-7 text-center">
                    <h2 class="section-title">Why Use Wresu.me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

                    <div class="p-4 rounded bg-white why-choose-us-box">

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-pencil"></span></span></div>
                            <div><h3 class="m-0">Easy to Use</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-web"></span></span></div>
                            <div><h3 class="m-0">Free .wresu.me subdomain</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-drag_handle"></span></span></div>
                            <div><h3 class="m-0">Free Drag & Drop Website Builder</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-pencil-square"></span></span></div>
                            <div><h3 class="m-0">Free blogs</h3></div>
                        </div>


                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-link"></span></span></div>
                            <div><h3 class="m-0">Domain linking (coming)</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-file-archive-o"></span></span></div>
                            <div><h3 class="m-0">Free Document Manager (coming)</h3></div>
                        </div>

                    </div>


                </div>
                <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200">
                    <img src="{% static 'images/person_transparent.png' %}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>