<div class="site-section pb-0">

        <div class="future-blobs">
            <div class="blob_2">
                <img src="images/blob_2.svg" alt="Image">
            </div>
            <div class="blob_1">
                <img src="images/blob_1.svg" alt="Image">
            </div>
        </div>
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
                <div class="col-lg-7 text-center">
                    <h2 class="section-title">Why Choose Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

                    <div class="p-4 rounded bg-white why-choose-us-box">

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Top Professionals in The World</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Expand Your Knowledge</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-graduation-cap"></span></span></div>
                            <div><h3 class="m-0">Best Online Teaching Assistant Courses</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                            <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-university"></span></span></div>
                            <div><h3 class="m-0">Best Teachers</h3></div>
                        </div>

                    </div>


                </div>
                <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200">
                    <img src="images/person_transparent.png" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>