{% extends 'blogs/manager/index.html' %}
{% load static i18n %}
{% block title %}{% trans 'Write Post' %}{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block manager_content %}
    {% trans 'Write Post' as form_title %}
    {% trans 'Create Post' as submit_text %}
    {% include 'includes/form.html' with form_title=page_title|default:form_title with_label=True submit_text=page_title|default:submit_text %}
{% endblock manager_content %}
{% block extra_js %}
    {% include 'includes/editor-script.html' with selector='#id_content' %}
{% endblock extra_js %}