<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Wresu.me - {% block title %}Title{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0.1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Wresu.me" />
    <meta name="description" content="A web resume and portfolio builder for everyone" />
    <meta name="keywords" content="online resume, free portfolio, free resume" />
    <meta name="author" content="Wresu.me" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Wresu.me"/>
    <meta property="og:image" content="{% static 'images/new-images/logo.png' %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="Wresu.me"/>
    <meta property="og:description" content="A web resume and portfolio builder for everyone"/>
    <meta name="twitter:title" content="Wresu.me" />
    <meta name="twitter:image" content="{% static 'images/new-images/logo.png' %}" />
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta name="twitter:card" content="" />

{#    <meta name="turbolinks-cache-control" content="no-cache">#}
{#    <script src="{% static 'turbolinks/turbolinks.js' %}"></script>#}

    <link rel="shortcut icon" href="{% static 'images/new-images/logo.png' %}">
    <style>
        label.form-label {
            font-weight: 600;
        }
    </style>
    {% block extra_css %}

    {% endblock extra_css %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

{% block content %}
    {% include 'home.html' %}
{% endblock content %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
{#<script src="{% static 'js/jquery.countdown.min.js' %}"></script>#}
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
{#<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>#}
{#<script src="{% static 'js/jquery.sticky.js' %}"></script>#}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.querySelector('#site').addEventListener('change', function(e){
        document.querySelector('#domain-form').submit();
    })
</script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    const HTTPClient = axios.create({
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% block extra_js %}

{% endblock extra_js %}
</body>
</html>