/*font Variables*/
$headingFont: 'Istok Web', sans-serif;
$paraFont: 'Chivo', sans-serif;


/*Color Variables*/
$baseColor: var(--primary-color);
$baseColorLight: rgba(var(--primary-color), .85);
$dip: #33353b;
$dip2: #0a0a0a;

$heading: #33363e;
$pfont: #797979; 
$white: #fff;
$bg_one: #fbf1f2;
$title-color: var(--primary-alt);
$border: #e8edf1;




/*=================== fonts ====================*/
//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Chivo:400,400i,700,900&display=swap');

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
	transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

