<title>{{ user.get_full_name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="{{ tenant.sitesettings.seo_title }}" />
<meta name="description" content="{{ tenant.sitesettings.seo_description }}" />
<meta name="keywords" content="{{ tenant.sitesettings.seo_keywords }}" />
<meta name="author" content="{{ user.get_full_name }}" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="{{ user.get_full_name }}"/>
<meta property="og:image" content="{% if tenant.sitesettings.logo %}{{ tenant.sitesettings.logo.url }}{% endif %}"/>
<meta property="og:url" content="{{ request.build_absolute_uri }}"/>
<meta property="og:site_name" content="Wresu.me"/>
<meta property="og:description" content="{{ tenant.sitesettings.seo_description }}"/>
<meta name="twitter:title" content="{{ user.get_full_name }}" />
<meta name="twitter:image" content="{% if tenant.sitesettings.logo %}{{ tenant.sitesettings.logo.url }}{% endif %}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="{% if tenant.sitesettings.favicon %}{{ tenant.sitesettings.favicon.url }}{% endif %}">